* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.invisible {
  display: none !important;
}

h1 {
  margin: 2rem;
  font-size: 5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 78rem;
  margin: auto;
  gap: 1rem;
}

.wrap {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 1.5rem auto;
  font-size: 3rem;
}

.display .header {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: auto;
  padding: 0.5rem;
}

.form .header {
  padding: 0 2.5rem;
}

ul {
  width: 95%;
  margin: 1rem;
  border: 4px ridge #2e5266;
}

li {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

li:nth-child(even) {
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1rem;
  padding: 1rem 2rem;
}

label,
input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

input {
  text-transform: capitalize;
}

.submit {
  margin: 0.5rem 0;
  align-self: flex-end;
}

small {
  margin-top: 0.2rem;
  padding: 0.2rem;
  text-align: end;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  main {
    grid-template-columns: 1fr;
    max-width: 34rem;
  }

  h2 {
    font-size: 2rem;
  }
}
